<div
  class="card {{ getCardOutlineClass() }}"
  style="cursor: pointer"
  (click)="onGroupClick(group)"
  *ngIf="group"
>
  <div class="card-header">
    <div class="row">
      <p class="col card-title">{{ getEmoji() }} {{ group.name }}</p>
      <button
        class="col-1 btn btn-circle btn-link text"
        style="padding: 0 !important"
        (click)="onDeleteClicked(deletionTemplate)"
        *ngIf="editMode"
      >
        <i class="fa-solid fa-trash"></i>
      </button>
    </div>
    <div class="row" *ngIf="showPath">
      <app-path [group]="group" class="pl-2 pt-2"></app-path>
    </div>
  </div>
</div>

<ng-template #deletionTemplate>
  <div class="modal-body">
    <p>{{ "Edit.ConfirmDeletion" | localize }}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="confirmDeletion()">
      {{ "Yes" | localize }}
    </button>
    <button type="button" class="btn btn-secondary" (click)="declineDeletion()">
      {{ "No" | localize }}
    </button>
  </div>
</ng-template>
