<div [@routerTransition] *ngIf="dashboard" class="view-container">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row" style="justify-content: space-between">
        <div class="row">
          <button
            class="col-auto btn btn-link btn-sm"
            (click)="routeToDashboards()"
          >
            <i class="fas fa-arrow-left pt-2"></i>
          </button>
          <div class="col-auto" *ngIf="!editName">
            <h1>📊 {{ dashboard.name }}</h1>
          </div>
          <div class="col-auto" *ngIf="editName">
            <form [formGroup]="editFormGroup">
              <input
                type="text"
                class="form-control"
                formControlName="name"
                autocomplete="off"
              />
            </form>
          </div>
          <div class="col-auto" *ngIf="editMode && !editName">
            <button
              type="button"
              class="btn btn-circle btn-link"
              style="padding-left: 0 !important"
              (click)="editNameClicked()"
            >
              <i class="fa-solid fa-edit"></i>
            </button>
          </div>
          <div class="col-auto" *ngIf="editMode && editName">
            <button
              type="button"
              class="btn btn-circle btn-link"
              (click)="saveNameClicked()"
            >
              <i class="fa-solid fa-save"></i>
            </button>
          </div>
        </div>
        <div class="row">
          <button
            class="col-auto text-right btn btn-circle btn-link"
            (click)="onCreateDashboardTileModal()"
            *ngIf="editMode"
          >
            <i class="fa-solid fa-plus"></i>
          </button>
          <button
            type="button"
            class="col btn btn-circle btn-link text-right"
            (click)="activateEditMode()"
            *ngIf="!editMode"
          >
            <i class="fa-solid fa-pencil"></i>
          </button>
          <button
            type="button"
            class="col btn btn-circle btn-link text-right"
            (click)="deactivateEditMode()"
            *ngIf="editMode"
          >
            <i class="fa-solid fa-check"></i>
          </button>
        </div>
      </div>
    </div>
  </section>

  <section class="content" style="overflow: auto">
    <div
      class="row"
      style="position: absolute; z-index: 1000; bottom: 0; min-width: 20rem"
      [hidden]="!isTrashVisible"
    >
      <alert
        id="trash"
        type="danger"
        class="trash w-100 pl-3 pr-3 text-center mb-0"
      >
        <p class="mb-0">Drag here to remove</p>
      </alert>
    </div>
    <gridstack
      [options]="gridOptions"
      (changeCB)="onGridChange($event)"
      (removedCB)="onGridRemove($event)"
      (dragStartCB)="onDragStart()"
      (dragStopCB)="onDragStop()"
      style="min-width: 1500px"
    >
      <gridstack-item
        *ngFor="let widget of gridWidgets; trackBy: identify"
        [options]="widget"
      >
        <div style="overflow: hidden" class="grid-stack-item-content h-100">
          <app-dashboard-tile
            [dashboardId]="dashboard.id"
            [tile]="widget.tile"
            [editMode]="editMode"
          ></app-dashboard-tile>
        </div>
      </gridstack-item>
    </gridstack>
  </section>
</div>

<div *ngIf="!dashboard" style="text-align: center; padding-top: 25vh">
  <app-loading-animation></app-loading-animation>
</div>
