<div class="container-fluid">
  <div>
    <div class="card card-body">
      <h4>Updates</h4>
      <p>An Update is any status pushed to CoMon.</p>
      <!-- <div class="row" *ngIf="kpisUpdate">
        <app-status-kpi
          *ngFor="let kpi of kpisUpdate"
          [kpi]="kpi"
          class="col-auto"
        ></app-status-kpi>
      </div> -->
      <div class="col-12">
        <app-package-bar-chart
          [packageId]="packageId"
          class="card-body"
          [triggerRender]="triggerRender"
          [triggerReload]="triggerReload"
          [numHours]="numHours"
          [useHourBuckets]="numHours === 24"
        ></app-package-bar-chart>
      </div>
      <hr />
      <h4>Changes</h4>
      <p>
        Changes are all status results that have a different criticality from
        the previous one.
      </p>
      <!-- <div class="row" *ngIf="kpisUpdate">
        <app-status-kpi
          *ngFor="let kpi of kpisChange"
          [kpi]="kpi"
          class="col-auto"
        ></app-status-kpi>
      </div> -->
      <div class="col-12">
        <app-package-bar-chart
          [packageId]="packageId"
          class="card-body"
          [triggerRender]="triggerRender"
          [triggerReload]="triggerReload"
          [numHours]="numHours"
          [useHourBuckets]="numHours === 24"
          [useChanges]="true"
        ></app-package-bar-chart>
      </div>
    </div>
  </div>
</div>
