<app-package-preview
  *ngIf="isPackageTile()"
  [packageId]="tile.itemId"
  [showDate]="false"
  [showPath]="true"
  [showTimeline]="tile.height > 2"
></app-package-preview>
<app-asset-summary
  *ngIf="isAssetTile()"
  [assetId]="tile.itemId"
  [showImage]="tile.height > 6"
  [showPackages]="tile.height > 2"
  [showPath]="true"
  (assetClicked)="routeToAsset()"
></app-asset-summary>
<app-group-summary
  *ngIf="isGroupTile()"
  [groupId]="tile.itemId"
  [showPath]="true"
  (groupClicked)="routeToGroup()"
></app-group-summary>
<app-markdown-tile
  *ngIf="isMarkdownTile()"
  [dashboardId]="dashboardId"
  [editMode]="editMode"
  [tile]="tile"
></app-markdown-tile>
