<div class="modal-header">
  <h4>{{ 'Assistant.ModalTitle' | localize }}</h4>
</div>

<div class="modal-body">
  <div
    #messageContainer
    class="chat-history"
    style="max-height: 40rem; overflow-y: auto"
  >
    <div *ngIf="messages.length === 0">
      <ul class="list-group">
        <li
          class="list-group-item"
          style="cursor: pointer"
          *ngFor="let prompt of examplePrompts"
          (click)="sendMessage(prompt)"
        >
          {{ prompt }}
        </li>
      </ul>
    </div>
    <div *ngFor="let message of messages; index as i">
      <div
        class="row"
        [ngClass]="{
          'justify-content-end': message.sender === 'user',
          'justify-content-start': message.sender === 'bot'
        }"
      >
        <div class="col-1" *ngIf="message.sender === 'bot'">
          <i class="icon fas fa-robot pl-2"></i>
        </div>

        <div class="col-11 pb-0 pr-0 pl-0" style="padding-top: 0.83rem">
          <markdown
            [data]="message.text"
            class="p-0"
            style="overflow: auto"
            [ngClass]="{
              'text-right': message.sender === 'user',
              'text-left': message.sender === 'bot'
            }"
          ></markdown>
        </div>
        <div class="col-1" *ngIf="message.sender === 'user'">
          <i class="icon fas fa-user pl-3"></i>
        </div>
      </div>
      <div
        class="loading-dots alert"
        *ngIf="isLoading && i === messages.length - 1"
      >
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    </div>
  </div>
</div>

<div class="modal-footer">
  <textarea
    class="form-control"
    [(ngModel)]="userInput"
    (keydown.enter)="sendMessage()"
    placeholder="{{ 'TypeHere' | localize }}"
  ></textarea>
  <button
    type="button"
    class="btn btn-primary"
    (click)="sendMessage()"
    [disabled]="!userInput || isLoading"
  >
    {{ 'Send' | localize }}
  </button>
</div>
