<div class="modal-header">
  <h4>{{ 'Assistant.ModalTitle' | localize }}</h4>
</div>

<div class="modal-body">
  <div
    #messageContainer
    class="chat-history"
    style="max-height: 40rem; overflow-y: auto"
  >
    <div *ngIf="messages.length === 0">
      <ul class="list-group">
        <li
          class="list-group-item"
          style="cursor: pointer"
          *ngFor="let prompt of examplePrompts"
          (click)="sendMessage(prompt)"
        >
          {{ prompt }}
        </li>
      </ul>
    </div>
    <div
      *ngFor="let message of messages; index as i"
      class="message row"
      [ngStyle]="{
        'justify-content': message.sender === 'user' ? 'flex-end' : 'flex-start'
      }"
    >
      <div
        class="alert pb-0"
        [ngClass]="{
          'alert-primary': message.sender === 'user',
          'alert-dark': message.sender === 'bot'
        }"
      >
        <markdown
          [data]="message.text"
          class="p-0"
          style="overflow: auto"
        ></markdown>
      </div>
      <div
        class="loading-dots alert"
        *ngIf="isLoading && i === messages.length - 1"
      >
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    </div>
  </div>
</div>

<div class="modal-footer">
  <textarea
    class="form-control"
    [(ngModel)]="userInput"
    (keydown.enter)="sendMessage()"
    placeholder="{{ 'TypeHere' | localize }}"
  ></textarea>
  <button
    type="button"
    class="btn btn-primary"
    (click)="sendMessage()"
    [disabled]="!userInput || isLoading"
  >
    {{ 'Send' | localize }}
  </button>
</div>
