<div *ngIf="status">
  <div
    class="modal-header"
    style="border-bottom: none; display: block"
    [style.background]="getBackgroundStyle()"
  >
    <div class="row modal-title pull-left">
      <app-criticality-indicator
        [criticality]="status.criticality"
        class="col-auto pr-0"
        style="padding-top: 0.1rem"
      ></app-criticality-indicator>
      <h4 class="col-auto">
        {{ status.package.name }}
      </h4>
    </div>
    <p style="position: absolute; top: 0; right: 1.5rem; margin: 1.5rem">
      {{ status.time.format('DD.MM.YYYY HH:mm:ss') }}
    </p>
    <div class="row">
      <app-path
        [group]="status.package.asset?.group"
        [asset]="status.package.asset"
        (pathClicked)="closeClicked()"
        class="col pl-4"
      ></app-path>
    </div>
    <app-status-chip-section [status]="status" />
    <button
      type="button"
      class="btn-close close pull-right"
      (click)="closeClicked()"
      aria-label="Close"
      style="position: absolute; top: 0; right: 0; margin: 0.5rem"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div
    class="modal-content pl-3 pt-2"
    style="border-top: none; box-shadow: none"
  >
    <div class="container-fluid">
      <app-status-timeline
        [statusId]="status.id"
        [reloadHistory]="reloadHistory"
        (statusClicked)="switchModal($event)"
      ></app-status-timeline>

      <hr />
      <app-status-message-section
        [messages]="status.messages"
        [criticality]="status.criticality"
      ></app-status-message-section>

      <hr />
      <app-status-kpi-section [kpis]="status.kpIs"></app-status-kpi-section>

      <hr />
      <app-status-chart-section
        [charts]="status.charts"
      ></app-status-chart-section>

      <app-assistant-button
        style="position: absolute; bottom: 1rem; right: 1rem"
        (clicked)="openAssistant()"
      ></app-assistant-button>
    </div>
  </div>

  <div
    class="modal-header"
    style="text-align: center; margin: 0 auto; width: fit-content"
    *ngIf="!status"
  >
    <app-loading-animation></app-loading-animation>
  </div>
</div>
