<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <h1>⚙️ {{ 'Settings.Title' | localize }}</h1>
      <p>{{ 'Settings.Description' | localize }}</p>
    </div>
  </section>

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <app-retention-setting-tile></app-retention-setting-tile>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <app-open-ai-key-setting-tile></app-open-ai-key-setting-tile>
        </div>
      </div>
    </div>
  </section>
</div>
