<div
  class="card h-100"
  style="
    overflow: hidden;
    min-width: 14rem;
    animation: ease-in 1s;
    animation-direction: forwards;
  "
  [style.background]="
    'linear-gradient(90deg, ' +
    gradientColors[0] +
    ' 0%, ' +
    gradientColors[1] +
    ' 100%)'
  "
>
  <div class="card-body">
    <h5 *ngIf="kpi.value !== undefined">
      {{ kpi.value }} {{ kpi.unit }}
      <sup *ngIf="percentage !== undefined" style="font-size: 0.8rem">
        {{ percentage | number: '1.1-1' }}%
        <i
          class="fa-solid fa-arrow-{{
            isHigherThanAverage ? 'up' : isLowerThanAverage ? 'down' : 'right'
          }}"
        ></i>
      </sup>
    </h5>

    <h5 *ngIf="kpi.value === null">{{ 'Kpi.NoValue' | localize }}</h5>

    <p style="margin-bottom: 0.2rem">{{ kpi.name }}</p>

    <div *ngIf="!isStatisticAvailable">
      <small>{{ 'Kpi.NoStatistic' | localize }}</small>
    </div>

    <div *ngIf="isStatisticAvailable">
      <div class="row justify-content-between">
        <div class="col-4">
          <small>Min</small>
        </div>
        <div class="col-4">
          <small>Avg</small>
        </div>
        <div class="col-4">
          <small>Max</small>
        </div>
      </div>

      <div class="row justify-content-between">
        <div class="col-4">
          <small>{{ kpi.thirtyDayMin | number: '1.1-1' }} {{ kpi.unit }}</small>
        </div>
        <div class="col-4">
          <small
            >{{ kpi.thirtyDayAverage | number: '1.1-1' }} {{ kpi.unit }}</small
          >
        </div>
        <div class="col-4">
          <small>{{ kpi.thirtyDayMax | number: '1.1-1' }} {{ kpi.unit }}</small>
        </div>
      </div>
    </div>

    <i class="fa-regular fa-heart icon"></i>
  </div>
</div>
