<section class="content">
  <div class="container-fluid">
    <app-status-table-filter
      (filterChanged)="filterChanged($event)"
    ></app-status-table-filter>

    <hr />

    <div *ngIf="statusPreviews">
      <div *ngIf="statusPreviews.totalCount === 0">
        <app-no-data [message]="'StatusTable.NoData'"></app-no-data>
      </div>

      <div class="container-fluid">
        <div class="row">
          <div
            class="col-4"
            #scrollContainer
            style="overflow-y: auto; max-height: 82vh"
            [style.opacity]="loadingMoreStatuses ? 0.5 : 1"
            [style.filter]="loadingMoreStatuses ? 'blur(2px)' : 'none'"
            (scroll)="onScroll($event)"
          >
            <div *ngFor="let statusPreview of statusPreviews.items">
              <app-status-preview
                [statusPreview]="statusPreview"
                [openStatusModalOnClick]="false"
                [showShadow]="status?.id === statusPreview.id"
                (statusClicked)="onStatusClicked($event)"
                style="width: 98%"
              ></app-status-preview>
            </div>
            <div *ngIf="!hasMoreStatuses" style="text-align: center">
              <i>{{ 'StatusTable.NoMoreResults' | localize }}</i>
            </div>
            <div
              *ngIf="loadingMoreStatuses"
              class="overlay"
              style="
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
                display: flex;
                justify-content: center;
                align-items: center;
              "
            >
              <app-loading-animation></app-loading-animation>
            </div>
          </div>
          <div class="col-8" *ngIf="status">
            <div class="card" style="min-height: 81vh">
              <div
                class="card-header"
                [style.background]="getBackgroundStyle()"
              >
                <div class="row">
                  <app-criticality-indicator
                    [criticality]="status.criticality"
                    class="col-auto pt-1"
                  ></app-criticality-indicator>
                  <h4 class="col-auto pt-1">
                    {{ status.package.name }}
                  </h4>
                </div>
                <p
                  style="
                    position: absolute;
                    top: 0;
                    right: 1rem;
                    margin: 1.3rem;
                  "
                >
                  {{ status.time.format('DD.MM.YYYY HH:mm:ss') }}
                </p>
              </div>
              <div class="card-body" style="border-top: none; box-shadow: none">
                <app-status-message-section
                  [messages]="status.messages"
                ></app-status-message-section>

                <hr />
                <app-status-kpi-section
                  [kpis]="status.kpIs"
                ></app-status-kpi-section>

                <hr />
                <app-status-chart-section
                  [charts]="status.charts"
                ></app-status-chart-section>

                <app-assistant-button
                  style="position: absolute; bottom: 1rem; right: 1rem"
                  (clicked)="openAssistant()"
                ></app-assistant-button>
              </div>

              <div
                class="card-header"
                style="text-align: center; margin: 0 auto; width: fit-content"
                *ngIf="!status"
              >
                <app-loading-animation></app-loading-animation>
              </div>
            </div>
          </div>
          <div class="col-8" *ngIf="!status && isLoadingStatus">
            <div class="row justify-content-center" style="padding-top: 30vh">
              <app-loading-animation></app-loading-animation>
            </div>
          </div>
          <div class="col-8" *ngIf="!status && !isLoadingStatus">
            <div class="row justify-content-center" style="padding-top: 20vh">
              <app-no-data
                [message]="'StatusTable.NoStatusSelected'"
                [width]="15"
              ></app-no-data>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Center and add transparent overlay when loading -->
    <div
      *ngIf="!statusPreviews"
      style="
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      "
    >
      <app-loading-animation></app-loading-animation>
    </div>
  </div>
</section>

<div *ngIf="!statusFilter" style="text-align: center; padding-top: 40vh">
  <app-loading-animation></app-loading-animation>
</div>
