<section class="content">
  <div class="container-fluid">
    <app-status-table-filter
      (filterChanged)="filterChanged($event)"
    ></app-status-table-filter>

    <hr />

    <div *ngIf="statusChanged && showRefreshBanner">
      <app-refresh-banner (bannerPressed)="loadStatuses()"></app-refresh-banner>
    </div>

    <div *ngIf="statusPreviews">
      <div *ngIf="statusPreviews.totalCount === 0">
        <app-no-data [message]="'StatusTable.NoData'"></app-no-data>
      </div>

      <div class="container-fluid">
        <div class="row">
          <div class="col-4">
            <div *ngFor="let statusPreview of statusPreviews.items">
              <div class="row">
                <app-status-preview
                  [statusPreview]="statusPreview"
                  [openStatusModalOnClick]="false"
                  [showShadow]="status?.id === statusPreview.id"
                  (statusClicked)="onStatusClicked($event)"
                  style="width: 98%"
                ></app-status-preview>
              </div>
            </div>
            <pagination
              [totalItems]="statusPreviews.totalCount"
              (pageChanged)="changePage($event)"
              [itemsPerPage]="10"
              [maxSize]="10"
              class="justify-content-center"
              [customPreviousTemplate]="prevTemplate"
              [customNextTemplate]="nextTemplate"
              [(ngModel)]="currentPage"
            ></pagination>
          </div>
          <div class="col-8" *ngIf="status">
            <div class="card">
              <div
                class="card-header"
                [style.background]="getBackgroundStyle()"
              >
                <div class="row">
                  <app-criticality-indicator
                    [criticality]="status.criticality"
                    class="col-auto pt-1"
                  ></app-criticality-indicator>
                  <h4 class="col-auto pt-1">
                    {{ status.package.name }}
                  </h4>
                </div>
                <p
                  style="
                    position: absolute;
                    top: 0;
                    right: 1rem;
                    margin: 1.3rem;
                  "
                >
                  {{ status.time.format('DD.MM.YYYY HH:mm:ss') }}
                </p>
              </div>
              <div class="card-body" style="border-top: none; box-shadow: none">
                <app-status-message-section
                  [messages]="status.messages"
                ></app-status-message-section>

                <hr />
                <app-status-kpi-section
                  [kpis]="status.kpIs"
                ></app-status-kpi-section>

                <hr />
                <app-status-chart-section
                  [charts]="status.charts"
                ></app-status-chart-section>

                <app-assistant-button
                  style="position: absolute; bottom: 1rem; right: 1rem"
                  (clicked)="openAssistant()"
                ></app-assistant-button>
              </div>

              <div
                class="card-header"
                style="text-align: center; margin: 0 auto; width: fit-content"
                *ngIf="!status"
              >
                <app-loading-animation></app-loading-animation>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      *ngIf="!statusPreviews"
      class="row justify-content-center"
      style="text-align: center"
    >
      <app-loading-animation></app-loading-animation>
    </div>
  </div>
</section>

<ng-template
  #nextTemplate
  let-disabled="disabled"
  let-currentPage="currentPage"
>
  <ng-container>
    {{ 'Pagination.Next' | localize }}
  </ng-container>
</ng-template>

<ng-template
  #prevTemplate
  let-disabled="disabled"
  let-currentPage="currentPage"
>
  <ng-container>
    {{ 'Pagination.Previous' | localize }}
  </ng-container>
</ng-template>

<div *ngIf="!statusFilter" style="text-align: center; padding-top: 40vh">
  <app-loading-animation></app-loading-animation>
</div>
